 #paypal-button-container {
    display: none; /* Nasconde completamente il pulsante */
}
 /* Stile per il popup */
        .popupOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7); /* Sfondo scuro semitrasparente */
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }
        .hidden {
            display: none; /* Nascondi il banner */
        }

        #popupContent {
            background: white;
            padding: 2em;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        #popupContent h2 {
            margin-top: 0;
        }

        #popupContent button {
            margin-top: 1em;
            padding: 0.5em 1.5em;
            font-size: 1em;
            cursor: pointer;
        }

#popupOverlay {
    display: none; /* Nascondi il banner di default */
}

#popupOverlay.show {
    display: block; /* Mostra il banner solo se necessario */
}


        //* Layout di default per desktop */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



body.index-page .header h1 {
    margin-right: 10px; /* Corregge eventuale spazio mancante */
}


/* Stile per il contenitore dell'header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spazio tra gli elementi */
    padding: 10px 20px;
    background-color: transparent;  
}
/* Stile per il titolo */
#title1 {
    flex: 1; /* Occupa lo spazio disponibile */
    text-align: center; /* Centra il titolo */
    font-size: 20px; /* Dimensione base */
    margin: 0; /* Rimuove margini indesiderati */
    white-space: nowrap; /* Impedisce che vada a capo */
}
/* Contenuto dell'header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Stile per pulsanti del menu */
.open-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
}

/* Stile per il menu laterale */
.sidebar {
    position: absolute; /* Sovrappone il menu a sinistra */
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}


.close-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.overlay.show {
    display: block;
}

/* Stile per il contenitore del carrello */
.cart-container {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-icon {
    width: 30px; /* Dimensione dell'icona */
    cursor: pointer;
}

.cart-count {
    position: absolute;         /* Posiziona il badge sopra l'icona */
    top: -5px;                  /* Posizione verticale */
    right: -10px;               /* Posizione orizzontale */
    background-color: red;      /* Colore di sfondo del badge */
    color: white;               /* Colore del testo */
    font-size: 12px;            /* Dimensione del testo */
    font-weight: bold;          /* Testo in grassetto */
    border-radius: 50%;         /* Rende il badge circolare */
    width: 20px;                /* Larghezza del badge */
    height: 20px;               /* Altezza del badge */
    display: flex;              /* Usato per centrare il testo */
    align-items: center;        /* Centra verticalmente il testo */
    justify-content: center;    /* Centra orizzontalmente il testo */
    padding: 0;         
}

/* Stile per il logo circolare */
.logo {
    width: 60px; /* Dimensione del logo */
    height: 60px;
    border-radius: 50%; /* Rende l'immagine circolare */
    margin-right: 10px; /* Spazio tra logo e titolo */
    object-fit: cover; /* Copre l'intera area circolare senza distorsioni */
}

/* Stile per il titolo */
.logo-container  {
    text-align: center; /* Centra orizzontalmente il logo */

}


/* Layout per dispositivi mobili */
@media (max-width: 768px) {
    .header {
        align-items: center; /* Centra gli elementi */
        gap: 10px; /* Spaziatura tra gli elementi */
    }
   #title {
        font-size: 20px; /* Riduce la dimensione del titolo */
        white-space: normal; /* Permette al titolo di andare a capo */
        text-align: center;
    }
    .container {
        flex-direction: column; /* Disposizione verticale per mobile */
        align-items: center;
        padding: 10px;
    }
    canvas {
        width: 100%; /* Canvas più piccolo per adattarsi allo schermo */
        height: auto; /* Altezza proporzionale alla larghezza */
    }

    .color-picker {
        width: 20px; /* Riduce la dimensione dei selettori di colore */
        height: 20px;
    }

    button, input[type="text"] {
        width: 100%; /* Larghezza completa per pulsanti e campi di testo */
        font-size: 1rem; /* Dimensione testo maggiore per migliorare la leggibilità */
        margin-top: 10px;
    }

}

body {
    font-family: 'Pacifico';
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
#accessoriModal {
    position: fixed;
    top: 50%;
    left: 0;
    width: 90%; /* Larghezza al 100% dello schermo */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Sfondo semi-trasparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000; /* Assicura che il popup appaia sopra l'overlay */
    display: none; /* Nascondi di default */
    overflow: auto;
    backdrop-filter: blur(8px); /* Effetto sfocatura */
    transform: translateY(-50%); /* Centra verticalmente */
}

#listaOggetti {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center;
    align-items: center;
}


#accessoriModal.show {
    display: block;
}

#seleziona-tovaglietta, #seleziona-accessorio, #personalizza, #rimuovi-oggetto{
    margin-top: 20px;
    text-align: center;
}

#rimuovi-oggetto {
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            cursor: pointer;
            background-color: #FF0000;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        /* Hover per il pulsante */
        #rimuovi-oggetto:hover {
            background-color: #CE3018;
        }
#aggiungi-nome {
    display: block;
    margin: 20px auto; /* Imposta il margine automatico orizzontale */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


#tovagliette-lista img{
    width: 80px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}
#listaOggetti img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

#tovagliette-lista img.selected {
    border-color: #ff6600;
}

#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Facoltativo: bordi per vedere i margini del contenitore */
    padding: 10px; /* Facoltativo: padding intorno all'immagine */
    }
    /* Canvas che si adatta al contenitore */
#canvas {
    width: 100%; 
    height: auto;
    object-fit: contain; /* Adatta l'immagine intera nel canvas */
}

<style>
    
    /* Stile della sezione principale */
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .color-picker {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
</style>


/* Stile per il modal */
.modal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi nel popup */
    justify-content: center; /* Allinea verticalmente al centro */
    padding: 20px;
    border: 1px solid #ccc; /* Bordo del popup */
    background-color: rgba(255, 255, 255, 0.8); /* Colore di sfondo bianco con trasparenza */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    margin: auto; /* Centra il modal nella pagina */
    border-radius: 8px; /* Angoli arrotondati */
    position: absolute; /* Posizionamento assoluto */
    top: 50%; /* Sposta verso il centro verticale */
    left: 50%; /* Sposta verso il centro orizzontale */
    transform: translate(-50%, -50%); /* Allinea al centro esatto */
}

.modal-content {
    background-color: #fff;
    padding: 2px;
    width: 20%;
    max-width: 40px;
    border-radius: 8px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.oggetti-container {
    display: flex;
    flex-direction: row; /* Disposizione orizzontale */
    flex-wrap: wrap; /* Permette di andare a capo se non c'è spazio */
    justify-content: center; /* Centra gli oggetti */
    margin-bottom: 15px; /* Spazio tra gli oggetti e il bottone */
}
.custom-textbox {
    width: 90%; /* Larghezza desiderata */
    height: 40px; /* Altezza desiderata */
    padding: 5px; /* Spaziatura interna */
    font-size: 14px; /* Dimensione del testo */
    border: 1px solid #ccc; /* Bordo della textbox */
    border-radius: 5px; /* Angoli arrotondati */
    box-sizing: border-box; /* Include padding nel calcolo della larghezza */
}
.custom-textbox:focus {
    border-color: #007BFF; /* Colore del bordo quando la textbox è attiva */
    outline: none; /* Rimuove l'outline predefinito */
}
.oggetti-container img {
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
    transition: transform 0.2s;
}

.oggetti-container img:hover {
    transform: scale(1.1); /* Ingrandisce l'oggetto al passaggio del mouse */
}
.checkout-header {
    display: flex; /* Usa Flexbox per disporre gli elementi sulla stessa riga */
    justify-content: center; /* Centra orizzontalmente gli elementi */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    width: 100%; /* Occupa tutta la larghezza */
    padding: 20px; /* Padding per separare gli elementi dai bordi */
}

/* Icona "Back Home" */
.back-home-icon {
    cursor: pointer; /* Mostra il cursore cliccabile */
}

.back-home-icon img {
    height: 40px; /* Imposta l'altezza dell'icona */
    width: 40px; /* Imposta la larghezza dell'icona */
}

/* Titolo della pagina */
.checkout-title {
    font-size: 24px; /* Imposta la dimensione del titolo */
    text-align: center; /* Centra il testo */
    margin: 0; /* Rimuove margini */
    flex-grow: 1; /* Permette al titolo di espandersi per occupare tutto lo spazio disponibile */
}
